module Ramalytics
  include Ramaze::Optioned

  options.dsl do
    sub :db do
      o 'Database adapter', :adapter, 'Pg'
      o 'Database name', :name, 'ramalytics'
      o 'Database user', :user, 'ramalytics'
      o 'Database password', :password, 'ramalytics'
    end
  end
end