h1,h2 {
  text-align: center;
}

h1,h2,h3 {
    margin-bottom: 1em;
}

p + h3 {
    margin-top: 1em;
}

body {
    padding: 2em;
    background: #990000;
}

a {
    color: #CC0000;
}
a:visited {
    color: #880000;
}
a:hover {
    background-color: #FFF6F6;
}

table#header {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-bottom: 1em;
}

#header .logo {
    text-align: right;
}
#header .title {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}
#header a {
    text-decoration: none;
    color: #000000;
}

table#header td {
    vertical-align: middle;
    padding: 0px 5px;
}

#page {
    background: #fff;
    padding: 3em;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    min-height: 400px;
}

#footer {
    font-size: 10px;
    text-align: center;
    margin-top: 3em;
}
#footer a {
    color: #CC9999;
    text-decoration: none;
}

p {
}

img {
    border: 0px;
}

ul, ol {
  margin-left: 3em;
}

.notice {
    border: 2px solid #660000;
    background: #FFEEEE;
    padding: 1.5em;
    margin-bottom: 2em;
}

table.table {
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.table td, table.table th {
    border: 1px solid #000000;
    padding: 0.5em;
    overflow: hidden;
}

table#referrers, table#searches {
    font-size: 12px;
}

table#referrers th, table#searches th {
    vertical-align: bottom;
    text-align: left;
}

td.domainname {
    text-align: right;
}

.flash, .message {
    border: 1px solid;
    padding: 1em;
    margin-bottom: 1em;
}
.message {
    display: none;
    position: fixed;
    top: 2em;
    left: 88px;
    width: 60%;
}

#flash_success, #message-success {
    border-color: #993300;
    color: #993300;
    background: #FFDDAA;
}
#flash_error, #message-error {
    border-color: #660000;
    color: #660000;
    background: #FFEEEE;
}

#nav {
    background-color: #EEEEEE;
    padding: 0.5em 1em;
    font-size: 12px;
    margin-bottom: 1em;
}
#nav > * {
    margin-right: 1em;
}

.unimportant {
    opacity: 0.4;
}